@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    color: white;
}

body {
    background-color: #161616;
}

.navbar {
    background-color: transparent !important;
    font-weight: 600;
}

h1 {
    font-weight: 600;
}

.greeting-illustration {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-weight: 300;
}

.download-btn {
    background-color: #113DFF;
    padding: 0.5em 1.5em;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border-radius: 100px;
}

.download-btn:hover {
    background-color: #fff;
    padding: 0.5em 1.5em;
    text-decoration: none;
    font-weight: 600;
    color: #113DFF;
    border-radius: 100px;
}

.photo-profile img {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(15px);
    border-radius: 10%;
    height: 20em;
}


/* Kasih media Query jangan lupa!!! */

.pp {
    position: relative;
}

.circle {
    background-color: #113DFF;
    width: 15em;
    height: 15em;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    z-index: -100;
}

.circle:first-child {
    background-color: #662FFF;
    left: 15%;
    top: -25%;
}


/* Experience & skill */

.experiences,
.skills {
    min-height: 20vw;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    transition: 0.3s;
}

.experiences>img {
    width: 200px;
}

.skills>img {
    width: 100px;
}

.experiences:hover,
.skills:hover {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

.works {
    text-align: center;
}

.showcase>a {
    transform: scale(0.8);
    transition: 0.3s;
}

.showcase>a:hover {
    transform: scale(1);
}

.more {
    color: white;
    text-decoration-color: white;
}

footer {
    margin-top: 100px;
    min-height: 5vw;
    background-color: #113DFF;
}

.contact>a {
    display: inline-block;
}

.contact>a>img {
    transform: scale(0.8);
}